.responsive-blog-footer {
  background: $secondary-color;
  padding: 2rem 2rem;
  color: white;

  .mailing-list {
    margin-bottom: 1.5rem;
  }

  .mailing-container {
    margin-bottom: 2rem;
  }

  .about-section,
  .tag-section {
    margin-bottom: 2rem;
  }
  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $white;  }
  span{
    display:block;
    text-align: center;
    color:$white;
  }
} 
