<!-- FOOTER SECTION  -->
<footer class="responsive-blog-footer">
    <div class="grid-x grid-padding-x">
        <div class="large-3 cell hide-for-small-only about-section">
            <img src="{{root}}assets/img/crop.jpg" alt="Picture - Pixabay" />
        </div>
        <div class="large-6 cell about-section">
            <h4> About Georges Garden website</h4>
            <p>This website has been created with Foundation 6 for a Complex UX design assessment, Web development
                Diploma 2019, Tafe North
                Metropolitan</p>
            <a href="">Read More</a>
        </div>
        <div class="large-3 cell mailing-container">
            <h4 class="mailing-list">Join my mailing list</h4>
            <input type="text" placeholder="Email Address">
            <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
        </div>
    </div>
    <div class="grid-x  align-justify">
        <p>copyright @MamzelNyf - all rights reserved</p>
        <div class="up-argrid-x">
            <a href="#top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
</div>
<!-- END OFF-CANVAS CONTENT -->