    <!-- BEGINNING NAVBAR -->
    <!--Mobile Navbar-->
    <div data-sticky-container class="top-content-section" id="#top">
        <div data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
            <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                <div class="grid-x align-middle align-justify">
                    <div class="cell shrink"><button class="menu-icon" type="button" data-toggle="main-menu"></button>
                    </div>
                    <div class="cell small-7"><a href="index.html" class="logo"><img src="{{root}}assets/img/GG.png" alt="logo"></a>
                    </div>
                    <div class="cell shrink text-center">
                        <a data-toggle="offCanvas"> <span><i class="fa fa-shopping-cart"></i></span><br>Cart(0)</a>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell auto">
                    <div class="top-bar" id="main-menu">
                        <div class="top-bar-left">
                            <ul class="vertical medium-horizontal dropdown menu"
                                data-responsive-menu="accordion medium-dropdown">
                                <li><a href="index.html" class="logo"><img src="{{root}}assets/img/GG.png" width="150" alt="logo"
                                            class="hide-for-small-only"></a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="menu">
                                <li><input type="text" placeholder="Looking for a flower?"></li>
                                <li><button class="button">Search</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cell shrink hide-for-small-only">
                    <button type="button" class="shopping-cart-button" data-toggle="offCanvas">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="text">Cart (3)</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV BAR -->