<!-- OFF CANVAS ASIDE ================================================================================================================================================ -->
<aside class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
    <!-- SHOPPING CARD -->
    <div class="grid-container-fluid">
        <div class="grid-x ">
            <div class="cell expanded shopping-title">ITEMS IN CART</div>
            <div class="cell ">
                <a>Wild Flower</a>
                <div class="shopping-cart-item align-center-middle">
                    <img src="{{root}}assets/img/flower(1).jpg" alt="Flower - Picture by Fanny LEFERT">
                    <div>
                        <p><span>Qty: </span>1</p>
                        <p><span>Price </span>$20</p>
                        <a href="#"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <a>Wild Flower</a>
                <div class="shopping-cart-item">
                    <img src="{{root}}assets/img/flower(4).jpg" alt="Flower - Picture by Fanny LEFERT">
                    <div>
                        <p><span>Qty: </span>1</p>
                        <p><span>Price </span>$20</p>
                        <a href="#"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <a>Wild Flower</a>
                <div class="shopping-cart-item">
                    <img src="{{root}}assets/img/flower(2).jpg" alt="Flower - Picture by Fanny LEFERT">
                    <div>
                        <p><span>Qty: </span>1</p>
                        <p><span>Price </span>$20</p>
                        <a href="#"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <a href="#" class="button float-right">Finish your order</a>
                <!-- END OF SHOPPING CART -->
                <button class="close-button" aria-label="Close alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</aside>
<!-- END OFF CANVAS ASIDE ================================================================================================================================================ -->