.map {
    width: 100%;
    background-size: cover;
    height: 60vh;
    max-height: 400px;
    margin-bottom: 20px;
}

.contact-section {
    background-image: url("../img/flowers-back.jpg");
    background-size: cover;
}